<div class="row">
  <div class="row col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label>User</label>
      <select class="form-control  optinbg" [(ngModel)]="filter" (change)="onChange($event.target.value)">
        <option value="">All</option>
        <!-- <option value="All">All</option> -->
        <option *ngFor="let item of filterLst" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2" style="padding-top: 2%;">
      <button type="button" (click)="navigateToCreateDetails()" class="btn btn-primary" id="create">Create Posts</button> </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Id</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let owner of lst">
            <td>{{owner.userId}}</td>
            <td>{{owner.id}}</td>
            <td>{{owner.title}}</td>
           <!-- <a routerLink="/home/posts/{{owner.id}}"><button class="btn btn-success" > Submit </button></a> -->
            <td><button type="button" (click)="navigateToPostDetails(owner.id)" id="details" class="btn btn-default">Details</button></td>
            <td><button type="button"  (click)="navigateToUpdateDetails(owner)" id="update" class="btn btn-success">Update</button></td>
            <td><button type="button" (click)="deleteUser(owner.id)" id="delete" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
