<div class="row"> 
  <div class="col-md-offset-10 col-md-2">
    <td> <button type="button" (click)="navigateToCreateDetails()" class="btn btn-primary" id="create">Create Posts</button> </td> 
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Id</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let owner of lst">
            <td>{{owner.userId}}</td>
            <td>{{owner.id}}</td>
            <td>{{owner.title}}</td>
           <!-- <a routerLink="/home/posts/{{owner.id}}"><button class="btn btn-success" > Submit </button></a> -->
            <td><button type="button" (click)="navigateToPostDetails(owner.id)" id="details" class="btn btn-default">Details</button></td>
            <td><button type="button"  (click)="navigateToUpdateDetails(owner)" id="update" class="btn btn-success">Update</button></td>
            <td><button type="button" (click)="deleteUser(owner.id)" id="delete" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>