<div class="wrapper">
    <div class="topheight">
        <header class="main-header">
            <nav class="navbar navbar-static-top d-block" role="navigation">
                <div class="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4" style="padding-top:12px;">  <a [routerLink]="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                                </a> <img src="assets/images/left-log-ap.png" class="img-fluid"  style="margin-left:5%;"> </div>
                            <div class="col-xl-6 col-lg-5  text-center" style="margin-top:12px;"> <img src="assets/images/new_Logos/central.png" class="img-fluid center-block latestmiddleimage"> </div>
                            <div class="col-xl-3 col-lg-3"> <img src="assets/images/new_Logos/right-left.png" class="img-fluid" style="margin-top:12px;"> </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>