<div class="wrapper">
    <aside class="main-sidebar" style="margin-top: 20px !important">
        <section class="sidebar">
            <ul class="sidebar-menu" style="padding-top: 3%">
                <li class="active treeview">
                    <a routerLink="/home/all" routerLinkActive="active">
                        <i class="fa fa-home active"></i> <span>Home</span>
                    </a>
                </li>
                <li class="treeview">
                    <a [routerLink]="">
                        <i class="fa fa-laptop"></i><span>Posts</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a routerLink="/home/all" routerLinkActive="active">ALL</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div class="row" id="contentstyle" style="padding: 0px 15px;">
            <div class="my-container">
                <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '10px' }"></ngx-loading> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>