
@charset "utf-8";
/* CSS Document */
.main-header>.navbar {
    margin-bottom: 0;
     margin-left: 0px !important; 
    border: none;
    min-height: 50px;
    border-radius: 0;
}
.leftlogostyle1
{
	margin:0; padding:0; width:115px; height:66px; float:left;  position:relative;
}

.paddingtop20
{
	padding-top:20px;
}

#dhanushlogomargin
{
	margin-top:-20px;
}
#breadcombstyle
{
	padding:15px 15px 0 15px;
}

#contentstyle
{
	 padding: 15px  15px ;
	 display: block !important;
}

#pannelheadingnew
{
	font-size:13px; color:white; font-weight:bold; 
	background: #166a99 !important; /* Old browsers */
	background: -moz-linear-gradient(top, #166a99 1%, #2786be 99%) !important;  /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #166a99 1%,#2786be 99%) !important;  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #166a99 1%,#2786be 99%) !important;  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#166a99', endColorstr='#2786be',GradientType=0 ); /* IE6-9 */


}

#verticalalignnew
{
vertical-align:middle;	
}

.footerstyle
{
	font-size:12px;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side
{
	background: #103254 !important;
}


/* .topheight
{
	height:122px; 

} */


/* .main-header>.navbar
{
	height:69px;
	
} */

.panel-default>.panel-heading
{
	background-color:#666;
	
}

.skin-blue .sidebar-menu>li>a:hover, .skin-blue .sidebar-menu>li.active>a {
	color: #fff !important;
	background: #2a5784 !important;
	border-left-color: #009885 !important;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #4b76a0 !important; 
}
.skin-blue .main-header .navbar .sidebar-toggle

{
	font-size: 24px!important;
	color:#888888 !important;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover

{
	font-size: 24px!important;
	color:#888888 !important;
	background: none !important;
}
.skin-blue .main-header .navbar
{
	height: auto;
	padding-top:10px;
	padding-bottom:10px; 
background: #ffffff !important;
border-bottom:4px solid #214092;
	
	
	}
	
	.latestheaderpadding {
		padding-top:5px;
		padding-bottom:5px;
	
	}
/*.main-header
{
	
	background: #ffffff !important;
	border-bottom:3px solid #214092;
}*/

@media (max-width:500px){
	.logo-mobile{
		margin-top: 8px !important;
	}
	
}
.logo-desktop{
	margin: 0 auto;
}
	

/* form controls */



@media screen and (min-width:800px) and (max-width:1600px)
{
.formbottom
{
	padding-bottom:10px !important;
}
	}

	.formtext
{
	font-size:12px !important;
	font-weight:600 !important;
}



.radio_verticalalign
{
	margin-top:30px !important;
	vertical-align:middle !important;
}
.datetable_heading
{
	color:#00a65a !important;
	font-size:19px !important;
}

.inactivebtn
{
	background:#e8e8e8 !important;
}

.glyfont
{
	font-size:12px !important; 
	
}


.main-sidebar, .left-side

{
	padding-top: 102px !important;
	background: #103254 !important;
}

.modal_popupbg
{
	
background: #00e780 !important; /* Old browsers */
background: -moz-linear-gradient(top, #00e780 1%, #006b87 100%)!important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00e780 1%,#006b87 100%)!important;  /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #098caf 1%,#084b5d 100%)!important;  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e780', endColorstr='#006b87',GradientType=0 )!important;  /* IE6-9 */


padding:9px !important;

	
	}
	
	.modal_popupbg h4
	{
		font-size:16px !important;
		color:#fff;
		font-weight:500;
	}


	
	
	.multiselect
{
	text-align:left !important;
}
span.multiselect-native-select {
	position:relative;

}
span.multiselect-native-select select {
	border:0!important;
	clip:rect(0 0 0 0)!important;
	height:1px!important;
	margin:-1px -1px -1px -3px!important;
	overflow:hidden!important;
	padding:0!important;
	position:absolute!important;
	width:1px!important;
	left:50%;
	top:30px
}
.multiselect-container {
	position:absolute;
	list-style-type:none;
	margin:0;
	padding:0
}
.multiselect-container .input-group {
	margin:5px
}
.multiselect-container>li {
	padding:0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight:700
}
.multiselect-container>li.multiselect-group label {
	margin:0;
	padding:3px 20px 3px 20px;
	height:100%;
	font-weight:700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor:pointer
}
.multiselect-container>li>a {
	padding:0
}
.multiselect-container>li>a>label {
	margin:0;
	height:100%;
	cursor:pointer;
	font-weight:400;
	padding:3px 20px 3px 40px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin:0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom:5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
border-top-left-radius:4px;
border-bottom-left-radius:4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding:3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left:-20px;
	margin-right:0
}
.multiselect>.btn
{
	text-align:left !important;
}
.radiobtn
{
	margin-right:10px !important;
}


.col-padd
{
	padding-left:0px !important;padding-right:0px !important;
	
}
.image-preview-input {
    position: relative;
    overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.cardradius {
    border-top-left-radius: 1.25rem !important;
    border-top-right-radius:1.25rem !important;
}