/* body {
	font-family: "Open Sans", sans-serif;
	background: url(../img/body-bg.JPG) no-repeat 0px 0px;
	background-size: cover;
	background-attachment: scroll;
	position: relative;
} */
.dataTables_empty {
	display: none;
  }

.latest_headings {
	color: #efefef;
	font-size:20px;
	font-weight: bold;
	margin-top: 0px !important;
}
.legend {
	color: #efefef;
	font-size:14px;
	font-weight: bold;
	margin-top: 0px !important;
	text-align:right;
	padding-top:15px;
}
.allpanels {
	border-radius:8px;
}
.rowpaddingtop {
	margin-bottom:23px;
	margin-top:10px;
	margin-left:10px;
}
.latestheaderpadding {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 4px solid #214092;
	background: #FFF;
}
.latestmiddleimage {
	margin-top: 20px;
}
.latestheaderpadding:after {
	content: "";
	background: url('assets/images/chr.png') no-repeat !important;
	background-position: center center;
	background-size: cover;
	height:46px;
	width: 324px;
	position: absolute;
	right: 0px;
	left: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 0;
	margin: 0px auto;
	top: 120px;
}
.latesttablealign tr td {
	padding: 10px;
}
.cellcolor_red {
	background-color: #cc2929 !important;
	;
	color: #fff;
	padding: 10px;
}
.cellcolor_green {
	background-color: #06b23f!important;
	color: #fff;
	padding: 10px;
}
.cellcolor_yellow {
	background-color: #b5b028!important;
	color: #fff;
	padding: 10px;
}
.d1, .d3 {
	color: #ffffff !important;
	background: rgba(230, 62, 62, 1);
	background: -moz-linear-gradient(top, rgba(230, 62, 62, 1) 0%, rgba(214, 56, 56, 1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230, 62, 62, 1)), color-stop(100%, rgba(214, 56, 56, 1)))!important;
	background: -webkit-linear-gradient(top, rgba(230, 62, 62, 1) 0%, rgba(214, 56, 56, 1) 100%)!important;
	background: -o-linear-gradient(top, rgba(230, 62, 62, 1) 0%, rgba(214, 56, 56, 1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(230, 62, 62, 1) 0%, rgba(214, 56, 56, 1) 100%)!important;
	background: linear-gradient(to bottom, rgba(230, 62, 62, 1) 0%, rgba(214, 56, 56, 1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63e3e', endColorstr='#d63838', GradientType=0 )!important;
}
.d2, .d4 {
	background: rgba(8, 148, 50, 1)!important;
	background: -moz-linear-gradient(top, rgba(8, 148, 50, 1) 0%, rgba(17, 163, 61, 1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 148, 50, 1)), color-stop(100%, rgba(17, 163, 61, 1)))!important;
	background: -webkit-linear-gradient(top, rgba(8, 148, 50, 1) 0%, rgba(17, 163, 61, 1) 100%)!important;
	background: -o-linear-gradient(top, rgba(8, 148, 50, 1) 0%, rgba(17, 163, 61, 1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(8, 148, 50, 1) 0%, rgba(17, 163, 61, 1) 100%)!important;
	background: linear-gradient(to bottom, rgba(8, 148, 50, 1) 0%, rgba(17, 163, 61, 1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#089432', endColorstr='#11a33d', GradientType=0 )!important;
}
.d1 p, .d4 p, .d2 p, .d3 p {
	color: #ffffff!important;
	text-align: center!important;
	font-size: 24px!important;
	font-weight: 400!important;
}
.footer-bottom {
	background: rgba(253, 253, 253, 1)!important;
	padding-top:10px;
	padding-bottom:10px;
	background: -moz-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(216, 216, 216, 1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253, 253, 253, 1)), color-stop(100%, rgba(216, 216, 216, 1)))!important;
	background: -webkit-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(216, 216, 216, 1) 100%)!important;
	background: -o-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(216, 216, 216, 1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(216, 216, 216, 1) 100%)!important;
	background: linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(216, 216, 216, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d8d8d8', GradientType=0 )!important;
}
.modeltop
{
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;

}