
<div class="row"> 
  <div class="col-md-offset-10 col-md-2">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a routerLink="/home/all"><button class="btn btn-secondary" > Back </button></a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.userId}}</td>
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td>{{data.body}}</td>
             </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>