<h2>Register</h2>
<form [formGroup] ="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="userid">UserID</label>
        <input type="text" formControlName="userid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userid.errors }" />
        <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">userid is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input type="text" formControlName="body" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.body.errors }" />
        <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
            <div *ngIf="f.body.errors.required">Username is required</div>
        </div>
    </div>
    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/home/all" class="btn btn-link">Cancel</a>
    </div>
</form>